.bor-col-clr {
  border-color: transparent;
}

.bor-col-a1 {
  border-color: var(--accent-100);
}

.bor-col-a2 {
  border-color: var(--accent-200);
}

.bor-col-g1 {
  border-color: var(--gray-100);
}

.bor-col-g2 {
  border-color: var(--gray-200);
}

.bor-col-g3 {
  border-color: var(--gray-300);
}

.bor-col-g4 {
  border-color: var(--gray-400);
}

.bor-col-g5 {
  border-color: var(--gray-500);
}

.bor-rad-0 {
  border-radius: var(--border-radius-0);
}

.bor-rad-br1 {
  border-radius: var(--border-radius-1);
}

.bor-rad-br2 {
  border-radius: var(--border-radius-2);
}
