.flx {
  display: flex;
}

.flx-1 {
  flex: 1 1 0;
}

.flx-auto {
  flex: 1 1 auto;
}

.flex-init {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}

.flx-dir-row {
  flex-direction: row;
}

.flx-dir-col {
  flex-direction: column;
}

.flx-aln-ctr {
  align-items: center;
}

.flx-aln-str {
  align-items: flex-start;
}

.flx-aln-end {
  align-items: flex-end;
}

.flx-jfy-ctr {
  justify-content: center;
}

.flx-jfy-str {
  justify-content: flex-start;
}

.flx-jfy-end {
  justify-content: flex-end;
}

.flx-jfy-btwn {
  justify-content: space-between;
}

.flx-jfy-arnd {
  justify-content: space-around;
}
