.input {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.input-label {
  display: flex;
  flex-direction: row;

  align-items: flex-end;
  justify-content: space-between;
}

.input-label-heading {
  color: var(--gray-100);
}

.input-label-warning {
  color: var(--error);
}

.input-text {
  margin: 0.625rem 0rem 0.625rem 0rem;
  padding: 0.625rem;

  border: 0.0625rem solid var(--gray-300);
  border-radius: 0.5rem;

  color: var(--gray-100);
  background-color: var(--gray-400);
}

.input-text:focus {
  outline: none;
  border: 0.0625rem solid var(--accent-100);
}

.input-description {
  color: var(--gray-200);
}
